Repository TheBuilderDAO/kafe, pull requests merged in 2022-06, with the labels that each got.

#210 add security-txt
  .gitignore
  dao-programs/Cargo.lock
  dao-programs/programs/tutorial/Cargo.toml
  dao-programs/programs/tutorial/src/lib.rs
Labels: dao-program

#221 initial work for seo & sitemaps
  .github/workflows/proposal-review.yaml
  .github/workflows/publish.yaml
  apps/docs/package.json
  apps/docs/pages/github-workflows/proposal-review.mdx
  apps/web/constants.ts
  apps/web/next-sitemap.config.js
  apps/web/package.json
  apps/web/pages/_document.tsx
  apps/web/pages/api/algolia/create-tutorial.tsx
  apps/web/pages/api/algolia/update-tutorial.tsx
  apps/web/pages/learn/[...slug].tsx
  apps/web/pages/learn/server-sitemap.xml/index.tsx
  apps/web/pages/server-sitemap-index.xml/index.tsx
  apps/web/pages/vote/[slug].tsx
  apps/web/pages/vote/server-sitemap.xml/index.tsx
  apps/web/public/robots.txt
  apps/web/public/sitemap-0.xml
  apps/web/public/sitemap.xml
  yarn.lock
Labels: frontend, docs

#224 Sitemap url fix for production
  apps/web/next-sitemap.config.js
  apps/web/pages/learn/server-sitemap.xml/index.tsx
  apps/web/pages/server-sitemap-index.xml/index.tsx
Labels: frontend

#229 Tutorials/why upgrade smart contracts the how to guide
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/builderdao.config.json
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/builderdao.lock.json
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/.gitkeep
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/deployed_1.png
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/deployed_2.png
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/proxy_contract.png
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/proxy_contract_verification.png
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/assets/versions_upgrade_depiction.png
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/content/index.mdx
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/package.json
Labels: tutorial, ready_to_publish

#230 fix the lock file & publish
  .changeset/sixty-emus-brake.md
  .changeset/three-seas-nail.md
  apps/web/public/sitemap-0.xml
  dao-programs/programs/tutorial/CHANGELOG.md
  dao-programs/programs/tutorial/package.json
  packages/apis/CHANGELOG.md
  packages/apis/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/tutorial/publish.ts
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/md-formatter/CHANGELOG.md
  packages/md-formatter/package.json
  packages/md-utils/CHANGELOG.md
  packages/md-utils/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/use-program-tutorial/CHANGELOG.md
  packages/use-program-tutorial/package.json
  tutorials/why-upgrade-smart-contracts-the-how-to-guide/builderdao.lock.json
Labels: dao-program, frontend, tutorial

#223 Add Architecture to docs and remove console.logs
  apps/docs/pages/web-app/big-picture.mdx
  apps/web/hooks/useCancelVote.ts
  apps/web/hooks/useCastVote.ts
  apps/web/hooks/useProposeTutorial.ts
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/voteCast.ts
  packages/apis/src/CeramicApi.ts
  packages/cli/src/commands/algolia/index.ts
  packages/md-formatter/src/cli.ts
  packages/use-program-tutorial/src/hooks/useCancelVote.ts
  packages/use-program-tutorial/src/hooks/useCastVote.ts
  packages/use-program-tutorial/src/hooks/useGuideTipping.ts
  packages/use-program-tutorial/src/hooks/useProposeTutorial.ts
  packages/use-program-tutorial/src/hooks/useReviewerCreate.ts
  packages/use-program-tutorial/src/hooks/useReviewerDelete.ts
Labels: dao-program, frontend, docs

#222 Responsive Kafé
  apps/web/components/Badge/NetworkBadge.tsx
  apps/web/components/Banner.tsx
  apps/web/components/Button/KBarButton.tsx
  apps/web/components/Carousel/GuidesCarousel.tsx
  apps/web/components/Carousel/ProposalsCarousel.tsx
  apps/web/components/FormElements/InputTextArea.tsx
  apps/web/components/FormElements/WriteForm.tsx
  apps/web/components/Index/HomeCTA.tsx
  apps/web/components/KBar/index.tsx
  apps/web/components/SVG/BorderSVG.tsx
  apps/web/components/SVG/LogoSVG.tsx
  apps/web/components/Search/GuideHit.tsx
  apps/web/components/Search/GuideHitFilter.tsx
  apps/web/components/Search/Pagination.tsx
  apps/web/components/Search/TutorialProposalHit.tsx
  apps/web/components/Sections/LearnGuidesSection.tsx
  apps/web/components/Sections/VoteProposalsSection.tsx
  apps/web/components/Sections/WriteProposalsSection.tsx
  apps/web/components/Tags/Tags.tsx
  apps/web/components/Wrappers/WriteFormWrapper.tsx
  apps/web/hooks/useCancelVote.ts
  apps/web/hooks/useCastVote.ts
  apps/web/layouts/PublicLayout/Content.tsx
  apps/web/layouts/PublicLayout/Header.tsx
  apps/web/layouts/PublicLayout/LeftSidebar.tsx
  apps/web/layouts/PublicLayout/Navigation.tsx
  apps/web/layouts/PublicLayout/PublicLayout.tsx
  apps/web/layouts/PublicLayout/RightSidebar.tsx
  apps/web/layouts/PublicLayout/Wrapper.tsx
  apps/web/layouts/tutorial-layout.tsx
  apps/web/pages/index.tsx
  apps/web/pages/learn/[...slug].tsx
  apps/web/pages/learn/index.tsx
  apps/web/pages/vote/index.tsx
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  packages/ui/src/mdx/Code/CodeBlock.tsx
  packages/ui/src/page-title.tsx
  packages/ui/src/section-container.tsx
Labels: dao-program, frontend

#236 Add Pendo
  apps/web/components/Analytics/Analytics.tsx
  apps/web/hooks/useCastVote.ts
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/utils/analytics/index.ts
  apps/web/utils/analytics/types.ts
Labels: frontend

#241 add a footer & vercel sponsorship logo
  apps/web/components/SVG/PoweredByVercel.tsx
  apps/web/layouts/PublicLayout/PublicLayout.tsx
Labels: frontend

#242 add link to vercel logo
  apps/web/layouts/PublicLayout/PublicLayout.tsx
Labels: frontend
