Repository TheBuilderDAO/kafe, pull requests merged in 2022-04, with the labels that each got.

#97 init
  tutorials/a-super-cool-tutorial/builderdao.config.json
  tutorials/a-super-cool-tutorial/builderdao.lock.json
  tutorials/a-super-cool-tutorial/content/index.mdx
  tutorials/a-super-cool-tutorial/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#96 Arweave refactor
  apps/web/arweave-wallet.json
  apps/web/pages/learn/[...slug].tsx
  packages/apis/src/ArweaveApi.ts
  packages/cli/src/commands/arweave.ts
  packages/cli/src/commands/tutorial.ts
Labels: frontend

#98 Use Ceramic for retrieving Arweave hash
  apps/web/hooks/useProposeTutorial.ts
  apps/web/pages/learn/[...slug].tsx
  apps/web/services/ApplicationFetcher.ts
  apps/web/types/index.ts
  package.json
  packages/apis/src/CeramicApi.ts
  packages/apis/src/index.ts
Labels: frontend

#101 add airdrop instruction
  dao-programs/programs/tutorial/src/constants.rs
  dao-programs/programs/tutorial/src/instructions/airdrop.rs
  dao-programs/programs/tutorial/src/instructions/mod.rs
  dao-programs/programs/tutorial/src/lib.rs
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  dao-programs/programs/tutorial/ts-sdk/client.ts
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.json
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/airdrop.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/index.ts
Labels: dao-program

#100 Refactor Cli Tutorial Command, Prepublish fetch from ceramic first
  packages/apis/src/CeramicApi.ts
  packages/cli/src/cli.ts
  packages/cli/src/client.ts
  packages/cli/src/commands/proposal.ts
  packages/cli/src/commands/reviewer.ts
  packages/cli/src/commands/tutorial.ts
  packages/cli/src/commands/tutorial/get.ts
  packages/cli/src/commands/tutorial/index.ts
  packages/cli/src/commands/tutorial/init.ts
  packages/cli/src/commands/tutorial/list.ts
  packages/cli/src/commands/tutorial/prepublish.ts
  packages/cli/src/commands/tutorial/publish.ts
  packages/cli/src/commands/tutorial/shared.ts
  packages/cli/src/utils/index.ts
  packages/cli/tsconfig.json
  tutorials/a-super-cool-tutorial/builderdao.lock.json
  tutorials/celo-erc20-token-on-remix/builderdao.lock.json
  tutorials/near-build-a-crowdfunding-dapp-on-near/builderdao.lock.json
  tutorials/near-write-and-deploy-a-smart-contract-on-near/builderdao.lock.json
  tutorials/polkadot-parachain-lifecycle/builderdao.lock.json
  tutorials/polygon-create-nft-smart-contract-with-hardhat/builderdao.lock.json
  tutorials/polygon-funding-dao-polygon/builderdao.lock.json
  tutorials/solana-create-a-simple-blog-dapp-on-solana/builderdao.lock.json
  tutorials/solana-explaining-solanas-innovations-without-technical-jargon/builderdao.lock.json
  tutorials/solana-token-streaming-protocol/builderdao.lock.json
Labels: tutorial

#109 Proposal Test 2
  tutorials/proposal-test-2/builderdao.config.json
  tutorials/proposal-test-2/builderdao.lock.json
  tutorials/proposal-test-2/content/index.mdx
  tutorials/proposal-test-2/package.json
  tutorials/publishing-tutorial/builderdao.config.json
  tutorials/publishing-tutorial/builderdao.lock.json
  tutorials/publishing-tutorial/content/index.mdx
  tutorials/publishing-tutorial/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#104 fix avatars to 25px
  apps/web/components/ImageStack.tsx
  apps/web/components/UserAvatar/UserAvatar.tsx
  apps/web/constants.ts
Labels: frontend

#105 Batch Tippers / Voters requests to Solana
  apps/web/components/Search/GuideHit.tsx
  apps/web/components/Search/GuideHits.tsx
  apps/web/components/Search/TutorialProposalHit.tsx
  apps/web/components/Search/TutorialProposalHits.tsx
  apps/web/components/TutorialProposalVotes/TutorialProposalVotes.tsx
  apps/web/components/TutorialTips/TutorialTips.tsx
  apps/web/components/VoteButton/CancelVoteButton.tsx
  apps/web/components/VoteButton/CastVoteButton.tsx
  apps/web/pages/learn/index.tsx
  apps/web/pages/vote/index.tsx
  dao-programs/programs/tutorial/ts-sdk/client.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/index.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/tipperAccountListById.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/tipperAccountListHashmapByIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/voteAccountListByTutorialId.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/voteAccountListHashmapByTutorialIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/filters/tipper.ts
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/index.tsx
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/useCancelVote.ts
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/useCastVote.ts
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/useGetHashmapTipperAccountListByIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/useGetHashmapVoterAccountListByIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/hooks/useGetVoteAccountListByTutorialId.ts
  dao-programs/programs/tutorial/ts-sdk/lib/routes.ts
  dao-programs/programs/tutorial/ts-sdk/lib/utils.ts
  packages/md-utils/src/fs.ts
Labels: dao-program, frontend

#112 Fix voting
  apps/web/components/VoteButton/CancelVoteButton.tsx
  apps/web/components/VoteButton/CastVoteButton.tsx
  apps/web/hooks/useCancelVote.ts
  apps/web/hooks/useCastVote.ts
  apps/web/hooks/useProposeTutorial.ts
Labels: frontend

#113 Publishing Test
  tutorials/publishing-test/builderdao.config.json
  tutorials/publishing-test/builderdao.lock.json
  tutorials/publishing-test/content/index.mdx
  tutorials/publishing-test/package.json
Labels: tutorial, tutorial_proposal, pending_review

#87 Auto Generate Solana
  tutorials/auto-generate-cli-program-from-anchor/builderdao.config.json
  tutorials/auto-generate-cli-program-from-anchor/builderdao.lock.json
  tutorials/auto-generate-cli-program-from-anchor/content/fetching.mdx
  tutorials/auto-generate-cli-program-from-anchor/content/index.mdx
  tutorials/auto-generate-cli-program-from-anchor/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#118 Proposal Testing 1
  tutorials/proposal-testing-1/builderdao.config.json
  tutorials/proposal-testing-1/builderdao.lock.json
  tutorials/proposal-testing-1/content/index.mdx
  tutorials/proposal-testing-1/package.json
  tutorials/publishing-test/content/index.mdx
Labels: tutorial, tutorial_proposal, pending_review

#121 fix typo in banner
  apps/web/pages/learn/index.tsx
Labels: frontend

#120 expose setAuthor Solana Instruction in builderDAO-cli
  dao-programs/programs/tutorial/src/instructions/proposal_set_creator.rs
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  dao-programs/programs/tutorial/ts-sdk/client.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/tipperAccountListHashmapByIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/voteAccountListHashmapByTutorialIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.json
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/proposalSetCreator.ts
  packages/cli/src/commands/admin/index.ts
  packages/cli/src/commands/admin/setAuthor.ts
Labels: dao-program

#122 Publishing Test 2
  tutorials/publishing-test-2/builderdao.config.json
  tutorials/publishing-test-2/builderdao.lock.json
  tutorials/publishing-test-2/content/index.mdx
  tutorials/publishing-test-2/package.json
Labels: tutorial, tutorial_proposal, pending_review

#123 Special Tutorial
  tutorials/special-tutorial/builderdao.config.json
  tutorials/special-tutorial/builderdao.lock.json
  tutorials/special-tutorial/content/index.mdx
  tutorials/special-tutorial/package.json
Labels: tutorial, tutorial_proposal, pending_review

#124 Special NEAR Tutorial
  tutorials/special-near-tutorial/builderdao.config.json
  tutorials/special-near-tutorial/builderdao.lock.json
  tutorials/special-near-tutorial/content/index.mdx
  tutorials/special-near-tutorial/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#84 UI Fixes
  apps/web/components/ImageStack.tsx
  apps/web/components/LoginButton/LoginButton.tsx
  apps/web/components/Search/GuideHit.tsx
  apps/web/components/Search/TutorialProposalHit.tsx
  apps/web/layouts/PublicLayout/Header.tsx
  apps/web/layouts/PublicLayout/LeftSidebar.tsx
  apps/web/layouts/PublicLayout/PublicLayout.tsx
  apps/web/layouts/PublicLayout/RightSidebar.tsx
  apps/web/layouts/PublicLayout/Wrapper.tsx
  apps/web/layouts/tutorial-layout.tsx
  apps/web/pages/404.js
  apps/web/pages/500.js
  apps/web/pages/vote/[slug].tsx
  apps/web/public/assets/images/404-light.png
  apps/web/public/assets/images/dark404.svg
  apps/web/public/assets/images/dark500.svg
  apps/web/public/assets/images/learn_d2.png
  apps/web/public/assets/images/light404.svg
  apps/web/public/assets/images/light500.svg
  apps/web/tailwind.config.js
  packages/ui/src/page-title.tsx
Labels: frontend

#127 Algolia index move to figment account
  .env.local
  .github/workflows/proposal-index.yaml
  apps/web/pages/learn/[...slug].tsx
  dao-programs/programs/tutorial/ts-sdk/client.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/index.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/proposalSetState.ts
  packages/apis/src/AlgoliaApi.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/algolia.ts
  tutorials/polkadot-build-a-poe-decentralized-app/builderdao.lock.json
  tutorials/polygon-create-a-donation-dapp-on-polygon/builderdao.lock.json
  yarn.lock
Labels: dao-program, frontend, tutorial

#129 Long Proposal
  tutorials/long-proposal/builderdao.config.json
  tutorials/long-proposal/builderdao.lock.json
  tutorials/long-proposal/content/index.mdx
  tutorials/long-proposal/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#119 airdrop cli-command
  dao-programs/programs/tutorial/src/constants.rs
  dao-programs/programs/tutorial/src/instructions/airdrop.rs
  dao-programs/programs/tutorial/src/instructions/dao_vault_close.rs
  dao-programs/programs/tutorial/src/instructions/guide_tipping.rs
  dao-programs/programs/tutorial/src/instructions/proposal_create.rs
  dao-programs/programs/tutorial/src/instructions/proposal_publish.rs
  dao-programs/programs/tutorial/src/instructions/proposal_set_creator.rs
  dao-programs/programs/tutorial/src/instructions/vote_cast.rs
  dao-programs/programs/tutorial/src/lib.rs
  dao-programs/programs/tutorial/src/state/dao_account.rs
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  dao-programs/programs/tutorial/ts-sdk/client.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/tipperAccountListHashmapByIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/voteAccountListByTutorialId.ts
  dao-programs/programs/tutorial/ts-sdk/lib/fetchers/voteAccountListHashmapByTutorialIds.ts
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.json
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/airdrop.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/proposalCreate.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/proposalPublish.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/proposalSetCreator.ts
  dao-programs/programs/tutorial/ts-sdk/lib/instructions/voteCast.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/admin/airdrop.ts
  packages/cli/src/commands/admin/index.ts
  packages/cli/src/commands/admin/setAuthor.ts
  packages/cli/src/commands/admin/utils.ts
  packages/cli/src/commands/tutorial/get.ts
  packages/cli/src/utils/index.ts
  yarn.lock
Labels: dao-program

#130 tutorial init makes tags non object => array of string
  apps/web/pages/learn/[...slug].tsx
  packages/cli/src/commands/tutorial/init.ts
  packages/md-utils/src/fs.ts
  tutorials/long-proposal/content/index.mdx
Labels: frontend, tutorial

#131 allow to test the apps against local validator
  apps/web/hooks/useDapp.tsx
Labels: frontend

#137 Guide actors
  apps/web/layouts/tutorial-layout.tsx
  apps/web/pages/learn/[...slug].tsx
  packages/cli/src/services/builderdao-config.service.ts
Labels: frontend

#142 Tutorial test
  tutorials/bh-test-33/builderdao.config.json
  tutorials/bh-test-33/builderdao.lock.json
  tutorials/bh-test-33/content/index.mdx
  tutorials/bh-test-33/package.json
Labels: tutorial, tutorial_proposal, pending_review

#143 Updates
  tutorials/bh-test-33/content/index.mdx
Labels: tutorial, tutorial_proposal, ready_to_publish

#146 hide scrolled sub sections & move toc out of the sidebar
  apps/web/components/TableOfContent/TableOfContent.tsx
  apps/web/layouts/PublicLayout/RightSidebar.tsx
  apps/web/layouts/tutorial-layout.tsx
  apps/web/lib/hooks/useScrollSpy.ts
Labels: frontend

#151 Test Prop 100
  tutorials/test-prop-100/builderdao.config.json
  tutorials/test-prop-100/builderdao.lock.json
  tutorials/test-prop-100/content/assets/.gitkeep
  tutorials/test-prop-100/content/index.mdx
  tutorials/test-prop-100/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#150 Fix tutorial images
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/builderdao.lock.json
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/content/assets/avalanche-creare-a-decentralized-exchange-on-avalanche-image-4.gif
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/content/assets/avalanche-create-a-decentralized-exchange-on-avalanche-image-1.png
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/content/assets/avalanche-create-a-decentralized-exchange-on-avalanche-image-2.png
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/content/assets/avalanche-create-a-decentralized-exchange-on-avalanche-image-3.png
  tutorials/avalanche-create-a-decentralized-exchange-on-avalanche/content/index.mdx
  tutorials/polkadot-parachain-lifecycle/builderdao.lock.json
  tutorials/polkadot-parachain-lifecycle/content/assets/polkadot-parachain-lifecycle-image-3.jpg
  tutorials/polkadot-parachain-lifecycle/content/assets/polkadot-parachain-lifecycle-image-3.png
  tutorials/polkadot-parachain-lifecycle/content/assets/polkadot-parachain-lifecycle-image-4.png
  tutorials/polkadot-parachain-lifecycle/content/assets/polkadot-parachain-lifecycle-image-5.png
  tutorials/polkadot-parachain-lifecycle/content/index.mdx
Labels: tutorial

#155 Test Prop 200
  tutorials/test-prop-200/builderdao.config.json
  tutorials/test-prop-200/builderdao.lock.json
  tutorials/test-prop-200/content/assets/.gitkeep
  tutorials/test-prop-200/content/index.mdx
  tutorials/test-prop-200/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#152 Add publishedAt to Algolia
  apps/web/components/Search/GuideHitFilter.tsx
  apps/web/components/Search/TutorialProposalHitFilter.tsx
  apps/web/pages/api/algolia/create-tutorial.tsx
  apps/web/pages/learn/index.tsx
  apps/web/pages/vote/index.tsx
  apps/web/types/index.ts
  packages/apis/src/AlgoliaApi.ts
  packages/cli/src/commands/algolia.ts
Labels: frontend

#157 Test Prop 300
  tutorials/test-prop-300/builderdao.config.json
  tutorials/test-prop-300/builderdao.lock.json
  tutorials/test-prop-300/content/assets/.gitkeep
  tutorials/test-prop-300/content/index.mdx
  tutorials/test-prop-300/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#158 Test Prop 400
  tutorials/test-prop-400/builderdao.config.json
  tutorials/test-prop-400/builderdao.lock.json
  tutorials/test-prop-400/content/assets/.gitkeep
  tutorials/test-prop-400/content/assets/example_image.png
  tutorials/test-prop-400/content/index.mdx
  tutorials/test-prop-400/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#159 Test Prop 500
  tutorials/test-prop-500/builderdao.config.json
  tutorials/test-prop-500/builderdao.lock.json
  tutorials/test-prop-500/content/assets/.gitkeep
  tutorials/test-prop-500/content/assets/example_image.png
  tutorials/test-prop-500/content/index.mdx
  tutorials/test-prop-500/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#160 Solana Transactions
  tutorials/solana-transansactions/builderdao.config.json
  tutorials/solana-transansactions/builderdao.lock.json
  tutorials/solana-transansactions/content/assets/.gitkeep
  tutorials/solana-transansactions/content/assets/example_image.png
  tutorials/solana-transansactions/content/index.mdx
  tutorials/solana-transansactions/package.json
Labels: tutorial, tutorial_proposal, pending_review

#161 Fix top margin
  apps/web/layouts/PublicLayout/RightSidebar.tsx
Labels: frontend

#162 Solana Instructions 101
  tutorials/solana-instructions-101/builderdao.config.json
  tutorials/solana-instructions-101/builderdao.lock.json
  tutorials/solana-instructions-101/content/assets/.gitkeep
  tutorials/solana-instructions-101/content/assets/example_image.png
  tutorials/solana-instructions-101/content/index.mdx
  tutorials/solana-instructions-101/package.json
Labels: tutorial, tutorial_proposal, ready_to_publish

#126 Landing page cleanup
  apps/web/components/Carousel/GuidesCarousel.tsx
  apps/web/components/Carousel/ProposalsCarousel.tsx
  apps/web/components/ImageStack.tsx
  apps/web/pages/index.tsx
  apps/web/public/assets/images/learn_d.jpeg
  apps/web/public/assets/images/learn_d.png
  apps/web/public/assets/images/learn_d2.png
  apps/web/public/assets/images/learn_l.png
  apps/web/public/assets/images/propose_d.jpeg
  apps/web/public/assets/images/propose_d.png
  apps/web/public/assets/images/propose_l.png
  apps/web/public/assets/images/vote_d.jpeg
  apps/web/public/assets/images/vote_d.png
  apps/web/public/assets/images/vote_d.svg
  apps/web/public/assets/images/vote_l.png
Labels: frontend

#167 fix --skip-images skipping to add update ceramic metadata. || if lock file exist add that data to getMetadata function of [...slug].tsx page
  apps/web/pages/learn/[...slug].tsx
  package.json
  packages/cli/src/commands/tutorial/publish.ts
Labels: frontend

#171 Add Code Block Syntax Highlighting & remove emotion & fix SWC
  apps/web/.babelrc
  apps/web/components/TableOfContent/ProgressBar.tsx
  apps/web/layouts/tutorial-layout.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tailwind.config.js
  packages/ui/package.json
  packages/ui/src/CopyToClipboardButton.tsx
  packages/ui/src/mdx/Code/CodeBlock.tsx
  packages/ui/src/mdx/Code/LiveCodeBlock.tsx
  packages/ui/src/mdx/Code/__tests__/Code.spec.tsx
  packages/ui/src/mdx/Code/__tests__/__snapshots__/Code.spec.tsx.snap
  packages/ui/src/mdx/Code/index.tsx
  packages/ui/src/mdx/Code/types.ts
  packages/ui/src/mdx/Code/utils.ts
  packages/ui/src/mdx/hint.tsx
  packages/ui/src/mdx/index.tsx
  tutorials/celo-send-celo-and-cusd/content/index.mdx
  yarn.lock
Labels: frontend, tutorial

#174 Rust smart contract basics
  tutorials/rust-smart-contract-basics/builderdao.config.json
  tutorials/rust-smart-contract-basics/builderdao.lock.json
  tutorials/rust-smart-contract-basics/content/assets/.gitkeep
  tutorials/rust-smart-contract-basics/content/index.mdx
  tutorials/rust-smart-contract-basics/package.json
Labels: tutorial, ready_to_publish

#177 Docs: How content gets served.
  apps/docs/pages/digital_architecture/how_kafe_serves_content.mdx
  apps/docs/pages/digital_architecture/meta.json
Labels: docs
