Repository TheBuilderDAO/kafe, pull requests merged in 2022-05, with the labels that each got.

#185 Add footer divider before Authors component
  apps/docs/pages/api-docs/algolia.mdx
  apps/docs/pages/api-docs/arweave.mdx
  apps/docs/pages/api-docs/ceramic.mdx
  apps/docs/pages/api-docs/github.mdx
  apps/docs/pages/api-docs/solana.mdx
  apps/docs/pages/api-docs/typescript-sdk.mdx
  apps/docs/pages/builderdao-cli.mdx
  apps/docs/pages/digital-architecture/how-kafe-serves-content.mdx
  apps/docs/pages/digital-architecture/summary.mdx
  apps/docs/pages/github-actions/airdrop-solana.mdx
  apps/docs/pages/github-actions/build-builderdao-cli.mdx
  apps/docs/pages/github-actions/build-tutorial.mdx
  apps/docs/pages/github-actions/check-required-reviewer.mdx
  apps/docs/pages/github-actions/install-anchor-version-manager.mdx
  apps/docs/pages/github-actions/install-anchor.mdx
  apps/docs/pages/github-actions/install-linux-build-deps.mdx
  apps/docs/pages/github-actions/install-node-dependencies.mdx
  apps/docs/pages/github-actions/install-rust.mdx
  apps/docs/pages/github-actions/install-solana.mdx
  apps/docs/pages/github-actions/test-tutorial.mdx
  apps/docs/pages/github-actions/upsert-keypair.mdx
  apps/docs/pages/github-workflows/labeler.mdx
  apps/docs/pages/github-workflows/program-tutorial.mdx
  apps/docs/pages/github-workflows/proposal-index.mdx
  apps/docs/pages/github-workflows/proposal-review.mdx
  apps/docs/pages/github-workflows/publish.mdx
  apps/docs/pages/governance/summary.mdx
  apps/docs/pages/index.mdx
  apps/docs/pages/legal-architecture/limited-liability.mdx
  apps/docs/pages/legal-architecture/operating-agreement.mdx
  apps/docs/pages/legal-architecture/organization-structure.mdx
  apps/docs/pages/legal-architecture/tax-considerations.mdx
  apps/docs/pages/membership/core-membership.mdx
  apps/docs/pages/membership/individual-membership.mdx
  apps/docs/pages/products/kafe/earning-rewards.mdx
  apps/docs/pages/products/kafe/how-it-works.mdx
  apps/docs/pages/products/kafe/overview.mdx
  apps/docs/pages/products/kafe/technology-stack.mdx
  apps/docs/pages/products/kafe/webapp-docs.mdx
  apps/docs/pages/tokenomics/builder-token.mdx
  apps/docs/pages/tokenomics/dual-token-system.mdx
  apps/docs/pages/tokenomics/kafe-token.mdx
  apps/docs/pages/typescript-sdk.mdx
Labels: docs

#184 solana api-docs and sdk
  apps/docs/pages/api-docs/solana.mdx
  apps/docs/pages/api-docs/typescript-sdk.mdx
  apps/docs/pages/builderdao-cli/solana-airdrop.mdx
Labels: docs

#182 addAdmin solana cli admin cmd
  dao-programs/programs/tutorial/ts-sdk/NetworkProvider.tsx
  dao-programs/programs/tutorial/ts-sdk/client.ts
  packages/cli/src/commands/admin/addAdmin.ts
  packages/cli/src/commands/admin/index.ts
  packages/cli/src/commands/admin/removeAdmin.ts
Labels: dao-program

#187 Add title frontmatter to all docs
  apps/docs/pages/api-docs/algolia.mdx
  apps/docs/pages/api-docs/arweave.mdx
  apps/docs/pages/api-docs/ceramic.mdx
  apps/docs/pages/api-docs/github.mdx
  apps/docs/pages/api-docs/solana.mdx
  apps/docs/pages/api-docs/typescript-sdk.mdx
  apps/docs/pages/builderdao-cli/meta.json
  apps/docs/pages/builderdao-cli/solana-airdrop.mdx
  apps/docs/pages/builderdao-cli/summary.mdx
  apps/docs/pages/digital-architecture/how-kafe-serves-content.mdx
  apps/docs/pages/digital-architecture/summary.mdx
  apps/docs/pages/github-actions/airdrop-solana.mdx
  apps/docs/pages/github-actions/build-builderdao-cli.mdx
  apps/docs/pages/github-actions/build-tutorial.mdx
  apps/docs/pages/github-actions/check-required-reviewer.mdx
  apps/docs/pages/github-actions/install-anchor-version-manager.mdx
  apps/docs/pages/github-actions/install-anchor.mdx
  apps/docs/pages/github-actions/install-linux-build-deps.mdx
  apps/docs/pages/github-actions/install-node-dependencies.mdx
  apps/docs/pages/github-actions/install-rust.mdx
  apps/docs/pages/github-actions/install-solana.mdx
  apps/docs/pages/github-actions/test-tutorial.mdx
  apps/docs/pages/github-actions/upsert-keypair.mdx
  apps/docs/pages/github-workflows/labeler.mdx
  apps/docs/pages/github-workflows/program-tutorial.mdx
  apps/docs/pages/github-workflows/proposal-index.mdx
  apps/docs/pages/github-workflows/proposal-review.mdx
  apps/docs/pages/github-workflows/publish.mdx
  apps/docs/pages/governance/summary.mdx
  apps/docs/pages/index.mdx
  apps/docs/pages/legal-architecture/limited-liability.mdx
  apps/docs/pages/legal-architecture/operating-agreement.mdx
  apps/docs/pages/legal-architecture/organization-structure.mdx
  apps/docs/pages/legal-architecture/tax-considerations.mdx
  apps/docs/pages/membership/core-membership.mdx
  apps/docs/pages/membership/individual-membership.mdx
  apps/docs/pages/products/kafe/earning-rewards.mdx
  apps/docs/pages/products/kafe/how-it-works.mdx
  apps/docs/pages/products/kafe/overview.mdx
  apps/docs/pages/products/kafe/technology-stack.mdx
  apps/docs/pages/products/kafe/webapp-docs.mdx
  apps/docs/pages/tokenomics/builder-token.mdx
  apps/docs/pages/tokenomics/kafe-token.mdx
  apps/docs/pages/typescript-sdk.mdx
Labels: docs

#188 reorganize and add new docs for solana admin CLI
  apps/docs/pages/builderdao-cli/meta.json
  apps/docs/pages/builderdao-cli/setup.mdx
  apps/docs/pages/builderdao-cli/solana-admin-airdrop.mdx
  apps/docs/pages/builderdao-cli/solana-admin-bs58.mdx
  apps/docs/pages/builderdao-cli/solana-admin-manage-kafe-list.mdx
  apps/docs/pages/builderdao-cli/solana-admin.mdx
  apps/docs/pages/builderdao-cli/solana-airdrop.mdx
Labels: docs

#190 Extend solana cli amount for proposal
  dao-programs/programs/tutorial/ts-sdk/client.ts
  packages/cli/src/commands/admin/index.ts
  packages/cli/src/commands/admin/setAmountForProposal.ts
Labels: dao-program

#191 Disable sentry in local env
  .env.local
  apps/web/next.config.js
Labels: frontend

#192 Publishing Documentation
  apps/docs/pages/builderdao-cli/meta.json
  apps/docs/pages/builderdao-cli/tutorial-prepublish.mdx
  apps/docs/pages/builderdao-cli/tutorial-publish.mdx
  apps/docs/pages/builderdao-cli/tutorial.mdx
Labels: docs

#195 Docs Add link
  apps/docs/pages/github-workflows/publish.mdx
Labels: docs

#196 update the path to image file in docs
  apps/docs/pages/github-workflows/proposal-review.mdx
  apps/docs/public/assets/images/proposal-guide-comment.png
Labels: docs

#199 Reviewer management
  apps/docs/pages/builderdao-cli/meta.json
  apps/docs/pages/builderdao-cli/setup.mdx
  apps/docs/pages/builderdao-cli/solana-admin-manage-reviewer.mdx
Labels: docs

#198 a-decentralised-exchange-dex-on-solana
  tutorials/a-decentralised-exchange-dex-on-solana/builderdao.config.json
  tutorials/a-decentralised-exchange-dex-on-solana/builderdao.lock.json
  tutorials/a-decentralised-exchange-dex-on-solana/content/assets/.gitkeep
  tutorials/a-decentralised-exchange-dex-on-solana/content/assets/example_image.png
  tutorials/a-decentralised-exchange-dex-on-solana/content/assets/template_regex.png
  tutorials/a-decentralised-exchange-dex-on-solana/content/index.mdx
  tutorials/a-decentralised-exchange-dex-on-solana/package.json
Labels: tutorial, ready_to_publish

#194 Test Publish
  tutorials/build-a-blog-on-solana/builderdao.config.json
  tutorials/build-a-blog-on-solana/builderdao.lock.json
  tutorials/build-a-blog-on-solana/content/assets/.gitkeep
  tutorials/build-a-blog-on-solana/content/assets/example_image.png
  tutorials/build-a-blog-on-solana/content/assets/template_regex.png
  tutorials/build-a-blog-on-solana/content/index.mdx
  tutorials/build-a-blog-on-solana/content/part_2.mdx
  tutorials/build-a-blog-on-solana/content/part_3.mdx
  tutorials/build-a-blog-on-solana/package.json
Labels: tutorial, ready_to_publish

#202 update the learn more link
  apps/web/components/Sidebars/WriteSidebar.tsx
Labels: frontend

#204 add alpha badge
  apps/web/layouts/PublicLayout/LeftSidebar.tsx
  apps/web/layouts/PublicLayout/PublicLayout.tsx
Labels: frontend

#206 fix dependabot security alert
  .gitignore
  dao-programs/yarn.lock
  token-scripts/package.json
  token-scripts/yarn.lock
Labels: dao-program

#201 Prune Github Actions Docs
  apps/docs/pages/github-actions.mdx
  apps/docs/pages/github-actions/airdrop-solana.mdx
  apps/docs/pages/github-actions/build-builderdao-cli.mdx
  apps/docs/pages/github-actions/build-tutorial.mdx
  apps/docs/pages/github-actions/check-required-reviewer.mdx
  apps/docs/pages/github-actions/install-anchor-version-manager.mdx
  apps/docs/pages/github-actions/install-anchor.mdx
  apps/docs/pages/github-actions/install-linux-build-deps.mdx
  apps/docs/pages/github-actions/install-node-dependencies.mdx
  apps/docs/pages/github-actions/install-rust.mdx
  apps/docs/pages/github-actions/install-solana.mdx
  apps/docs/pages/github-actions/meta.json
  apps/docs/pages/github-actions/test-tutorial.mdx
  apps/docs/pages/github-actions/upsert-keypair.mdx
Labels: docs

#203 Render proposal create error messages
  apps/web/components/ProposeTutorialForm/ProposeTutorialForm.tsx
  apps/web/components/Sidebars/Balance.tsx
  apps/web/hooks/useBalance.ts
Labels: frontend

#205 Include docs for web app and algolia cli
  apps/docs/pages/builderdao-cli/algolia.mdx
  apps/docs/pages/builderdao-cli/meta.json
  apps/docs/pages/digital-architecture/meta.json
  apps/docs/pages/digital-architecture/summary.mdx
  apps/docs/pages/meta.json
  apps/docs/pages/products/kafe/meta.json
  apps/docs/pages/products/kafe/technology-stack.mdx
  apps/docs/pages/products/kafe/webapp-docs.mdx
  apps/docs/pages/web-app/big-picture.mdx
  apps/docs/pages/web-app/features.mdx
  apps/docs/pages/web-app/how-kafe-serves-content.mdx
  apps/docs/pages/web-app/meta.json
  apps/docs/pages/web-app/related-packages.mdx
  apps/docs/pages/web-app/summary.mdx
  apps/docs/pages/web-app/technology-stack.mdx
  apps/docs/pages/web-app/using-solana-wallet.mdx
  apps/docs/public/assets/images/architecture.png
  apps/docs/public/assets/images/cli-page-type-selection.png
  apps/docs/public/assets/images/code-block.png
  apps/docs/public/assets/images/connect-wallet.png
  apps/docs/public/assets/images/hint-warning.png
  apps/docs/public/assets/images/logged-in.png
  apps/docs/public/assets/images/solana-wallet-adapter.png
  packages/cli/src/commands/algolia.ts
  packages/cli/src/commands/tutorial/init.ts
  tutorials/avalanche-create-a-chat-application-using-solidity-and-react/builderdao.config.json
Labels: tutorial, docs

#208 add events for each instruction
  dao-programs/Anchor.toml
  dao-programs/programs/tutorial/src/events.rs
  dao-programs/programs/tutorial/src/instructions/airdrop.rs
  dao-programs/programs/tutorial/src/instructions/dao_add_admin.rs
  dao-programs/programs/tutorial/src/instructions/dao_close.rs
  dao-programs/programs/tutorial/src/instructions/dao_initialize.rs
  dao-programs/programs/tutorial/src/instructions/dao_remove_admin.rs
  dao-programs/programs/tutorial/src/instructions/dao_set_amount_to_create_proposal.rs
  dao-programs/programs/tutorial/src/instructions/dao_set_nonce.rs
  dao-programs/programs/tutorial/src/instructions/dao_set_quorum.rs
  dao-programs/programs/tutorial/src/instructions/dao_vault_close.rs
  dao-programs/programs/tutorial/src/instructions/dao_vault_initialize.rs
  dao-programs/programs/tutorial/src/instructions/guide_tipping.rs
  dao-programs/programs/tutorial/src/instructions/proposal_close.rs
  dao-programs/programs/tutorial/src/instructions/proposal_create.rs
  dao-programs/programs/tutorial/src/instructions/proposal_publish.rs
  dao-programs/programs/tutorial/src/instructions/proposal_set_creator.rs
  dao-programs/programs/tutorial/src/instructions/proposal_set_state.rs
  dao-programs/programs/tutorial/src/instructions/reviewer_assign.rs
  dao-programs/programs/tutorial/src/instructions/reviewer_create.rs
  dao-programs/programs/tutorial/src/instructions/reviewer_delete.rs
  dao-programs/programs/tutorial/src/instructions/tipper_close.rs
  dao-programs/programs/tutorial/src/instructions/vote_cancel.rs
  dao-programs/programs/tutorial/src/instructions/vote_cast.rs
  dao-programs/programs/tutorial/src/lib.rs
  dao-programs/programs/tutorial/src/state/proposal_account.rs
  dao-programs/programs/tutorial/tests/tutorial.test.ts
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.json
  dao-programs/programs/tutorial/ts-sdk/lib/idl/tutorial.ts
Labels: dao-program

#211 Bump version for every package
  .changeset/thin-coats-press.md
  tutorials/a-decentralised-exchange-dex-on-solana/package.json
Labels: tutorial

#212 publish packages locally
  .changeset/thin-coats-press.md
  apps/docs/package.json
  dao-programs/programs/tutorial/CHANGELOG.md
  dao-programs/programs/tutorial/package.json
  packages/apis/CHANGELOG.md
  packages/apis/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/md-formatter/CHANGELOG.md
  packages/md-formatter/package.json
  packages/md-utils/CHANGELOG.md
  packages/md-utils/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/use-program-tutorial/CHANGELOG.md
  packages/use-program-tutorial/package.json
Labels: dao-program, docs
